.header{
    margin-top: 100px;
    margin-top: 50px;
    padding-top: 40px;
}
.color{
    color: #6c63ff;
}
#services img{
    height: 100px;
    padding-top: 10px;
    
}
.bgcolor{
    background-color: #6c63ff;
}